/* src/components/Menu.css */

.menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .menu button {
    background-color: rgba(76, 187, 23, 0.8); /* Kelly Green */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu button.active {
    background-color: rgb(3, 167, 81); /* Darker Green */
  }
  
  .menu button:hover {
    background-color: rgb(80, 200, 120); /* Emerald Green */
  }
  